<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <title>EC2</title>
</head>

<div class="container align-center">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
            <table>
                <tr><td>ID</td><td> {{ instance.id }}</td></tr>
                <tr><td>Image AMI ID</td><td> {{ instance.image_id }}</td></tr>
                <tr><td>Key Pair </td><td> {{ instance.key_name }}</td></tr>
                <tr><td>Public IP Address</td><td>{{ instance.public_ip_address }}</td></tr>
                <tr><td>State</td><td>{{ instance.state['Name'] }}</td></tr>
            </table>
            <h3>CPU</h3>

                <div id="cpu_stats_plot" style="width:300px;height:150px"></div>


            <script>

                var options = {
                    series: {
                        lines: { show: true },
                        points: { show: true }
                    }
                };


                $.plot($("#cpu_stats_plot"), [{{ cpu_stats }}] , options);

            </script>

            <h3>HTTP Request</h3>
                <div style="width:300px;height:150px">
                    <img src={{ graph_address }}>
                </div>

            <form action='{{url_for("ec2_list")}}' method='get'>
                <input type='submit' value='Back' />
            </form>

        </div>
    </div>
</div>
