<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Auto Scaling</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/util.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/main.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SystemControl</a>
            <ul class="navbar-brand">
                <a href="{{ url_for('mainpage') }}">Main</a>
            </ul>
            <ul class="navbar-brand">
                <a href="{{ url_for('ec2_list') }}">EC2</a>
            </ul>
            <ul class="navbar-brand">
                <a href="{{ url_for('s3_list') }}">S3</a>
            </ul>

            <ul class="navbar-brand">
                <a href="{{ url_for('get_autoscaling_policy_from_users') }}">Auto Scaling</a>
            </ul>
        </div>
    </nav>

        <main role="main" class="col-md-12 pt-3 px-4">
            <h2>INSTANCES</h2>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Availability Zone</th>
                        <th>Status</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instance in instances %}
                        <tr>
                            <td>{{ instance.id }}</td>
                            <td>{{ instance.instance_type }}</td>
                            <td>{{ instance.placement['AvailabilityZone']}}</td>
                            <td>{{ instance.state['Name'] }}</td>
                            <td>
                                <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>
                                    <input class="btn btn-sm btn-primary display-4" type='submit' value='Details' />
                                </form>
                            </td>
                            <td>
                                <form action="{{url_for('ec2_destroy',id=instance.id)}}" method='post' onsubmit='return confirm("Are you sure?")'>
                                    <input class="btn btn-sm btn-primary display-4" type='submit' value='Destroy'/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <form action="{{url_for('worker_grow')}}" method="post">
                            <input class="btn btn-sm btn-primary display-4" type="submit" value="Grow">
                        </form>
                    </td>
                    <td>
                        <form action="{{url_for('worker_shrink')}}" method="post">
                            <input class="btn btn-sm btn-primary display-4" type="submit" value="Shrink">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <form action="{{url_for('get_chart_numofworkers')}}" method="post">
            <input class="btn btn-sm btn-primary display-4" type="submit" value="Workers">
        </form>

        <br>
        <h3>Load Balancer DNS:</h3>
        <a href="http://loadbalancer1-847641212.us-east-1.elb.amazonaws.com:5000/ ">http://loadbalancer1-847641212.us-east-1.elb.amazonaws.com</a >


        </main>
</body>
</html>