<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Auto Scaling</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/util.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/main.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" >SystemControl</a>
            <ul class="navbar-brand">
                <a href="{{ url_for('ec2_list') }}" style="color: #e3f2fd;">EC2</a>
            </ul>
            <ul class="navbar-brand">
                <a href="{{ url_for('s3_list') }}" style="color: #e3f2fd;">S3</a>
            </ul>

            <ul class="navbar-brand">
                <a href="{{ url_for('get_autoscaling_policy_from_users') }}" style="color: #e3f2fd;">Auto Scaling</a>
            </ul>
        </div>
    </nav>
        <div style=" height:200px; width:100%;"></div>
        <div class="col-md-12 text-center px-4 pt-2">
            <br>
            <h1>Welcome Manager!</h1>
            <p class="lead text-muted">Severs can be added/removed manually or using auto scaling.</p>
            <br><br><br>

            <form action="{{url_for('stop_manager')}}" method="get">
                <input class="btn btn-sm btn-primary display-4" type="submit" value="Stop Manager">
            </form>

            {% block content %}
            <div class="container">
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
                {% block page_content %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>