<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
</head>
<body>
    <h2>Number of Workers</h2>

    <div id="worker_num_plot" style="width:300px;height:150px"></div>



    <script>

        var options = {
            series: {
                lines: { show: true },
                points: { show: true }
            }
        };


        $.plot($("#worker_num_plot"), [ {{ worker_num }} ] , options);


    </script>

    <form action='{{url_for("ec2_list")}}' method='get'>
        <input class="btn btn-sm btn-primary display-4" type='submit' value='Back' />
    </form>
</body>
</html>