<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <title>EC2</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SystemControl</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="main_page.html">Return</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="navbar-inverse col-md-1 col-lg-2 ml-2" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand">MANAGE</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('ec2_list') }}">EC2</a></li>
                    <li><a href="{{ url_for('s3_list') }}">S3</a></li>
                    <li><a href="{{ url_for('get_autoscling_policy_from_users') }}">Auto Scaling</a></li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 pt-3 px-4">
            <h2>INSTANCES</h2>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                       <th>Name</th>
                       <th>Creation Time</th>
                    </thead>
                    {% for bucket in buckets %}
                        <tr>
                            <td>{{ bucket.name }}</td>
                            <td>{{ bucket.creation_date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary display-4" href="{{ url_for('delete_s3') }}">Clear Storage</a>
            </div>
        </main>
    </div>
</div>
</body>
</html>