<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Auto Scaling</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/util.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/main.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SystemControl</a>
            <ul class="navbar-brand">
                <a href="{{ url_for('mainpage') }}" style="color: #e3f2fd;">Main</a>
            </ul>
            <ul class="navbar-brand">
                <a href="{{ url_for('ec2_list') }}" style="color: #e3f2fd;">EC2</a>
            </ul>
            <ul class="navbar-brand">
                <a href="{{ url_for('s3_list') }}" style="color: #e3f2fd;">S3</a>
            </ul>

            <ul class="navbar-brand">
                <a href="{{ url_for('get_autoscaling_policy_from_users') }}" style="color: #e3f2fd;">Auto Scaling</a>
            </ul>
        </div>
    </nav>

        <main role="main" class="col-md-12 pt-3 px-4">
            <h2>INSTANCES</h2>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                       <th>Name</th>
                       <th>Creation Time</th>
                    </thead>
                    {% for bucket in buckets %}
                        <tr>
                            <td>{{ bucket.name }}</td>
                            <td>{{ bucket.creation_date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary display-4" href="{{ url_for('delete_s3') }}">Clear Storage</a>
            </div>
        </main>
    </div>
</div>
</body>
</html>